@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
  font-size: 1rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  position: static;
  text-decoration: none;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */

}

.up {
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  position: static;
  margin: 0;

}

ul li a:hover {
 -webkit-transform: scale(1.2);
 -ms-transform: scale(1.2);
 transform: scale(1.2);
}

.team {
  display: inline-flex;
  text-align: center;
}

.guy1 {
  border-radius: 15px;
  border: 1px solid black;
  width: 500px;
}

.guy2 {
  border-radius: 15px;
  border: 1px solid black;
  width: 500px;
}

.guy3 {
  border-radius: 15px;
  border: 1px solid black;
  width: 500px;
}

.guy4 {
  border-radius: 15px;
  border: 1px solid black;
  width: 500px;

}

.team2 {
  display: inline-flex;
  text-align: center;
}

.block {
  padding: 15px;
  max-width: 1300;
}

.first,
.second,
.third,
.forth {
  border-radius: 15px;
}

.face:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.inst:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.twi:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media   (max-width:1100px){
  .team, .team2 {
    display: inline-block
  }
}

@media   (max-width:612px){
.up {
  width: 400px;
  margin-left: 14%;
}
.first,
.second,
.third,
.forth {
  width: 450px;
}
.guy1, .guy2, .guy3, .guy4 {
  width: 450px;
}
}
@media   (max-width:530px){
  .up {
    width: 400px;
    margin-left: 6%;
  }
}
@media   (max-width:472px){
  .up {
    width: 350px;
    margin-left: 3%;
  }
  .first,
  .second,
  .third,
  .forth {
    width: 400px;
  }
  .guy1, .guy2, .guy3, .guy4 {
    width: 400px;
  }
  }

  @media   (max-width:412px){
    .up {
      width: 300px;
      margin-left: 3%;
    }
    .first,
    .second,
    .third,
    .forth {
      width: 350px;
    }
    .guy1, .guy2, .guy3, .guy4 {
      width: 350px;
    }
    }

    @media   (max-width:362px){
      .up {
        width: 180px;
        margin-left: 15%;
      }
      .first,
      .second,
      .third,
      .forth {
        width: 300px;
      }
      .guy1, .guy2, .guy3, .guy4 {
        width: 300px;
      }
      }

      @media (min-width: 310px){
        .first,
        .second,
        .third,
        .forth {
          height: 50%;
        }  
      }