@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

 body {
   font-size: 1rem;
   margin: 0;
   text-align: center;
   font-family: 'Abril Fatface', cursive;
   background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
   /* IE6-9 */
 }

 header {
   height: 100vh;
   background: url('../img/eric.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   object-fit: cover;
 }

 img {
   border-radius: 25px;
   border-color: rgb(255, 0, 0);
   background-size: cover;
   max-width: 1000px;

 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-radius: 10px;
   text-align: center;
   display: inline-block;
   position: static;
   text-decoration: none;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
   background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
   /* IE6-9 */

 }

 .up {
   text-align: center;
 }

 li {
   float: left;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 15px;
   text-decoration: none;
   border-radius: 10px;
   text-align: center;
   display: inline-block;
   position: static;
   margin: 0;

 }

 ul li a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
 }

 .bss {
   width: 570px;
   height: 570px;
   right: 10px;
   border: 5px rgba(0, 0, 0, 0.722) solid;
   text-align: center;
   border-radius: 10px;
   margin: 0;
   float: left;
   color: rgb(255, 255, 255);
   font-size: 32px;
   margin-top: 3%;
 }

 .vss {
   width: 570px;
   height: 570px;
   right: 60px;
   border: 5px rgba(0, 0, 0, 0.722) solid;
   text-align: center;
   border-radius: 10px;
   margin: 0;
   float: right;
   color: rgb(255, 255, 255);
   font-size: 32px;
   margin-top: 3%;
 }

 .girl {
   position: relative;
   width: 100%;
   text-align: center;

 }

 table {
   position: absolute;
   top: 0;
   justify-content: center;
   right: 20%;
   top: 15%
 }

 .gg {
   width: 100%;
   height: 100%;
 }

 table {
   color: rgb(0, 0, 0);
 }

 .links {
   position: relative;
   text-align: center;

 }

 .block {
   padding: 15px;
   max-width: 1300;

 }

 .maps {
   text-align: center;
 }

 .sign {
   position: relative;
 }

 .some {
   flex-direction: row;
 }

 table {
   font-size: 25px;
 }

 footer {
   text-align: center;
   margin-bottom: 50%;
   position: relative;
 }

 .signBack:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }

 .face:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }

 .inst:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }

 .twi:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }

 .you:hover {
   -webkit-transform: scale(1.2);
   -ms-transform: scale(1.2);
   transform: scale(1.2);
 }
  .part {
   float: left;
   width: 400px;
   font-size: 22.3px;
   border: 5px rgba(0, 0, 0, 0.722) solid;
   text-align: center;
   border-radius: 25px;
   padding: 15px;
   color: black;
   
 }

 .partt {
  float: right;
  width: 400px;
  font-size: 20.36px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 25px;
  padding: 15px;
  color: black;
 }
.half {
  display: inline-flex;
  text-align: center;
}
.secondhalf {
  display: inline-table;
}
@media   (max-width:1200px){
  .bss {
    width: 470px;
    height: 700px;
    font-size: 32.3px;
    
  }
  .vss {
    width: 470px;
    height: 700px;
    font-size: 36px;
  }
  .part {
    width: 500px;
    font-size: 25px;
  }
  .partt {
    width: 500px;
    font-size: 23px;
  }
}

@media   (max-width:1000px){
  .bss {
    width: 400px;
    height: 950px;
    font-size: 36.17px;
    
  }
  .vss {
    width: 400px;
    height: 950px;
    font-size: 37px;
  }
  .part {
    width: 500px;
    font-size: 25px;
    
  }
  .partt {
    width: 500px;
    font-size: 23px;
    
  }
  .half, .secondhalf {
    display: inline-block;
  } 
  /* .gg{
    width: 80%;
  } */
}

@media   (max-width:940px){
  .bss {
    width: 400px;
    height: 950px;
    font-size: 36.17px;
    
  }
  .vss {
    width: 400px;
    height: 950px;
    font-size: 37px;
  }
  .part {
    width: 600px;
    font-size: 30px;
    margin-left: 15%;
    
  }
  .partt {
    width: 600px;
    font-size: 28px;
    margin-right: 15%;
    
  }
  .half {
    display: block
  } 
  /* .gg{
    width: 80%;
  } */
}
/* @media   (max-width:851px){
  .bss {
    width: 300px;
    height: 950px;
    font-size: 30.7px;
}
.vss {
  width: 300px;
  height: 950px;
  font-size: 31px;
}
  .part {
    width: 600px;
    font-size: 30px;
    margin-left: 15%;
    
  }
  .partt {
    width: 600px;
    font-size: 28px;
    margin-right: 15%;
    
  }
  .half {
    display: block
  }  */
  /* .gg{
    width: 80%;
  } */
/* } */

@media   (max-width:760px){
  .bss {
    width: 300px;
    height: 950px;
    font-size: 30.7px;
}
.vss {
  width: 300px;
  height: 950px;
  font-size: 31px;
}
  .part {
    width: 600px;
    font-size: 30px;
    margin-left: 8%;
    
  }
  .partt {
    width: 600px;
    font-size: 28px;
    margin-right: 8%;
    
  }
  .half {
    display: block
  } 
  /* .gg{
    width: 80%;
  } */
}
@media   (max-width:700px){
  .bss {
    width: 300px;
    height: 950px;
    font-size: 30.7px;
}
.vss {
  width: 300px;
  height: 950px;
  font-size: 31px;
}
.part {
  width: 500px;
  font-size: 35px;
  margin-left: 12%;
}
.partt {
  width: 500px;
  font-size: 35px;
  margin-right: 10%;
}
  .half {
    display: block
  } 
  /* .gg{
    width: 80%;
  } */
}
@media   (max-width:700px){
  .bss {
      width: 600px;
      height: 450px;
      font-size: 28px;
      float: none;
      margin-left: 4%;
}
.vss {
  width: 600px;
  height: 450px;
  font-size: 28px;
  float: none;
  margin-left: 4%;
}
.part {
  width: 500px;
  font-size: 35px;
  margin-left: 12%;
  float: none;
}
.partt {
  width: 500px;
  font-size: 35px;
  margin-right: 10%;
  float: none;
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
}
@media   (max-width:661px){
  .bss {
      width: 550px;
      height: 450px;
      font-size: 28px;
      float: none;
      margin-left: 4%;
}
.vss {
  width: 550px;
  height: 450px;
  font-size: 28px;
  float: none;
  margin-left: 4%;
}
.part {
  width: 500px;
  font-size: 35px;
  margin-left: 12%;
  float: none;
}
.partt {
  width: 500px;
  font-size: 35px;
  margin-right: 10%;
  float: none;
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
}
@media   (max-width:616px){
  .bss {
      width: 500px;
      height: 450px;
      font-size: 28px;
      float: none;
      margin-left: 4%;
}
.vss {
  width: 500px;
  height: 450px;
  font-size: 28px;
  float: none;
  margin-left: 4%;
}
.part {
  width: 420px;
  font-size: 30px;
  margin-left: 12%;
  float: none;
}
.partt {
  width: 420px;
  font-size: 30px;
  margin-left: 12%;
  float: none;
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
}

@media   (max-width:550px){
  .bss {
    width: 370px;
    height: 450px;
    font-size: 24px;
    float: none;
    margin-left: 12%;
}
.vss {
  width: 370px;
  height: 450px;
  font-size: 24px;
  float: none;
  margin-left: 12%;
}
.part {
  width: 360px;
  font-size: 28px;
  margin-left: 12%;
  float: none;
}
.partt {
  width: 360px;
    font-size: 27px;
    margin-right: 10%;
    float: none;
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
}
@media   (max-width:460px){
  .bss {
    width: 370px;
    height: 450px;
    font-size: 24px;
    float: none;
    margin-left: 3%;
}
.vss {
  width: 370px;
  height: 450px;
  font-size: 24px;
  float: none;
  margin-left: 3%;
}
.part {
  width: 360px;
  font-size: 28px;
  margin-left: 5%;
  float: none;
}
.partt {
  width: 360px;
    font-size: 27px;
    margin-left: 0%;
    
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
}

@media   (max-width:430px){
  .bss {
    width: 300px;
    height: 450px;
    font-size: 20.6px;
    float: none;
    margin-left: 10%;
}
.vss {
  width: 300px;
  height: 450px;
  font-size: 23.2px;
  float: none;
  margin-left: 10%;
}
.part {
  width: 300px;
  font-size: 26px;
  margin-left: 10%;
  float: none;
}
.partt {
  width: 300px;
  font-size: 27px;
  margin-left: 10%;
    
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
  .mm {
    width: 300px;
  }
}

@media   (max-width:430px){
  .bss {
    width: 270px;
    height: 328px;
    font-size: 17.48px;
    float: none;
    margin-left: 12%;
}
.vss {
  width: 270px;
  height: 328px;
  font-size: 17.48px;
  float: none;
  margin-left: 12%;
}
.part {
  width: 300px;
  font-size: 26px;
  margin-left: 10%;
  float: none;
}
.partt {
  width: 300px;
  font-size: 27px;
  margin-left: 10%;
    
}
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
  .mm {
    width: 300px;
  }
}
@media   (max-width:430px){
  .bss {
    width: 318px;
    height: 709px;
    font-size: 27.48px;
    float: none;
    margin-left: 6%;
}
.vss {
  width: 270px;
  height: 328px;
  font-size: 17.48px;
  float: none;
  margin-left: 12%;
  display: none;
}
.part {
  width: 251px;
  font-size: 25px;
  margin-left: 10%;
  float: none;
}
.partt {
  width: 250px;
  font-size: 26px;
  margin-left: 2%;
}
    
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
  .mm {
    width: 300px;
  }
}


@media   (max-width:410px){
  .bss {
    width: 318px;
    height: 709px;
    font-size: 27.48px;
    float: none;
    margin-left: 6%;
}
.vss {
  width: 270px;
  height: 328px;
  font-size: 17.48px;
  float: none;
  margin-left: 12%;
  display: none;
}
.part {
  width: 251px;
  font-size: 25px;
  margin-left: 10%;
  float: none;
}
.partt {
  width: 250px;
  font-size: 26px;
  margin-left: 2%;
}
    
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
  .mm {
    width: 300px;
  }
  .gg {
    width: 90%;
  }
  td{
    font-size: 20px;
  }
}


@media   (max-width:410px){
  .bss {
    width: 318px;
    height: 709px;
    font-size: 27.48px;
    float: none;
    margin-left: -1%;
}
.vss {
  width: 270px;
  height: 328px;
  font-size: 17.48px;
  float: none;
  margin-left: 12%;
  display: none;
}
.part {
  width: 251px;
  font-size: 25px;
  margin-left: 10%;
  float: none;
}
.partt {
  width: 250px;
  font-size: 26px;
  margin-left: 2%;
}
    
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
  .mm {
    width: 300px;
  }
  .gg {
    width: 90%;
  }
  td,th{
    font-size: 16px;
    margin-left: -110%;
  }
}

@media   (max-width:350px){
  .bss {
    width: 301px;
    height: 709px;
    font-size: 27px;
    float: none;
    margin-left: -1%;
}
.vss {
  width: 270px;
  height: 328px;
  font-size: 17.48px;
  float: none;
  margin-left: 12%;
  display: none;
}
.part {
  width: 232px;
  font-size: 25px;
  margin-left: 10%;
  float: none;
}
.partt {
  width: 233px;
  font-size: 26px;
  margin-left: 3%;
}
    
  .half {
    display: block
  } 
  table {
    color: rgb(255, 0, 0);
  }
  .mm {
    width: 300px;
  }
  .gg {
    width: 90%;
  }
  td,th{
    font-size: 16px;
    margin-left: -110%;
  }
}


@media (max-width: 350px){
.bss {
    width: 272px;
    height: 326px;
    font-size: 17.48px;
    float: none;
    margin-left: -1%;
}
.vss{
  display: none;
}
}

@media (max-width: 851px){
.vss {
    width: 300px;
    height: 905px;
    font-size: 30.1px;
}
.bss {
  width: 300px;
  height: 905px;
  font-size: 30px;
}
.part {
  width: 600px;
  font-size: 30px;
  margin-left: 9%;
}
.partt {
  width: 600px;
  font-size: 28px;
  margin-right: 9%;
}
}
@media (max-width: 1360px){
  .bss {
    margin-top: 12%;
}
.vss {
  margin-top: 12%;
}
}







