body {
  font-size: 1rem;
    font-family:Courier, monospace;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(255, 255, 255, 0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
margin: 0;
text-align: center;
}
header {
    height: 100vh;
    background: url('../css/eric-nopanen-8e0EHPUx3Mo-unsplash-copy-0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;}
img {
    border-radius: 25px;
    border-color: rgb(255, 0, 0);
    background-size: cover;
    max-width: 1000px;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family:monospace;
  border-radius: 10px;
  text-align: center;
   display: inline-block;
   position: static;
   text-decoration: none;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgb(0, 0, 0) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(0, 0, 0) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.up {
  text-align: center; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
   display: inline-block;
    position: static;
    margin: 0;
    font-family:monospace;
}  
  
  ul li a:hover {
 background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

  }

.bss {
  width: 570px;
  height: 570px;
  right: 10px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  float: left;
  font-family:monospace;
  color: rgb(255, 196, 0);
  font-size: 32px;
  
}
.vss  {
  width: 570px;
  height: 570px;
  right: 60px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  float: right;
  font-family:monospace;
  color: rgb(255, 196, 0);
  font-size: 32px;
  
}
.girl {
  position: relative;
  width: 100%; 
  text-align: center;
  
}
table {
  position: absolute;
  top:0;
  justify-content: center;
  right:20%;
  top:15%
}
.gg {
  width: 100%;
  height: 100%;
}
.part {
  float: left;
  width: 400px;
  font-size: 16px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  color: black;
  margin-bottom: -30%;
}
.partt {
  float: right;
  width: 400px;
  font-size: 16px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  color: black;
  
}
table {
  color: rgb(255, 196, 0);
}

.links {
  position: relative;
  text-align: center;
 
}
.block {
  padding: 15px;
  max-width: 1300;
  
}
    .maps {
      text-align: center;
    }
  
.sign {
  position: relative;
}
.some {
  flex-direction: row;
}
table {
  font-size: 25px;
}
footer {
  text-align: center;
  margin-bottom: 50%;
  position: relative;
}

@media (max-width:1300px) {
.vss {
width: 400px;
height: 400px;
font-size: 20px;
}
.bss {
  width: 400px;
  height: 400px;
  font-size: 20px;
}
.part {
  width: 300px;
  font-size: 14px;
}
.partt {
  width: 302px;
  font-size: 14px;
}
.mm {
  width: 240px;
  height: 440px;
}
.gg {
  width: 80%;
  height: 80%;
}
footer {
  margin-left: 25%;
  margin-top: 0;
}
}
@media (max-width:992px) {
  .vss {
    width: 300px;
    height: 400px;
    font-size: 18.5px;
    }
    .bss {
      width: 400px;
      height: 400px;
      font-size: 19px;
    } 
   .gg {
    width: 70%;
    height:70%;
   }
   .part {
    width: 250px;
    font-size: 12px;
  }
  .partt {
    width: 253px;
    font-size: 12px;
  }
  .mm {
    width: 180px;
    height: 380px;
}
}
@media (max-width:768px) {
  .bss {
    width: 201px;
    height: 466px;
    font-size: 18px;
}
.vss {
  width: 218px;
  height: 465px;
  font-size: 19px;
}
.gg {
  width: 80%;
  height: 80%;
} 
table {
  margin-right: -9%;
}
.part {
  width: 120px;
  font-size: 15px;
}
.partt {
  width: 302px;
  font-size: 14px;
}
.mm {
  width: 100px;
  height: 300px;
}
ul {font-size: 11px;
}
.partt {
  width: 125px;
  font-size: 15px;
}
}
@media (max-width:480px) {
  ul {
    border-radius: 207px;
  }
  .bss {
    width: 400px;
    height: 400px;
    font-size: 19px;
}
.vss {
  width: 300px;
  height: 400px;
  font-size: 18.5px;
}
.part {
  margin-top: -290px;
  float: left;
  width: 300px;
  font-size: 16px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  color: black;
}
.partt {
  margin-top: 100px;
  float: right;
  width: 300px;
  font-size: 16px;
  border: 5px rgba(0, 0, 0, 0.722) solid;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  color: black;
}
.mm {
  visibility: hidden;
}
table {
  text-align: center;
  font-size: 15px;
}
.bss {
    width: 131px;
    height: 437px;
    font-size: 13px;
}
.vss {
  width: 132px;
  height: 436px;
  font-size: 14px;
}
}
@media (max-width:320px) {
  header {
    height: 122vh;
    background: url(../css/eric-nopanen-8e0EHPUx3Mo-unsplash-copy-0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
}

