*{
    box-sizing: border-box;
}

.hero{
    display: flex;
    justify-content: center;
   background-color: rgb(255, 255, 255);
   flex-direction: column;
   border: 10px solid rgb(109, 124, 131);
   align-items: center;
padding: 1rem ;
margin: 4.8rem 15rem;
}
.icons1{
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
    height: 2rem;
    border: 1.5px solid rgb(6, 155, 241);
    
}


.icons2{
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
    height: 2rem;
    border: 1.5px solid rgb(2, 69, 158);
}

.icons3{
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
    height: 2rem;
    border: 1.5px solid rgb(33, 180, 3);  
}


.icons4{
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
    height: 2rem;
    border: 1.5px solid rgb(224, 7, 177);
}


.icons5{
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
    height: 2rem;
    border: 1.5px solid rgb(143, 3, 3);
}

.twitter{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -22px;
    margin-left: 20px;
    margin-bottom: 2px;
}

.whatsapp{
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -22px;
    margin-left: 20px;
    margin-bottom: 2px;
    
    
}


.facebook{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -22px;
    margin-left: 20px;
    margin-bottom: 2px;
}



.instagram{
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -22px;
    margin-left: 20px;
    margin-bottom: 2px;
    
}

.yt{
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -22px;
    margin-left: 20px;
    margin-bottom: 2px;
}
